target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
/**/*.iml
/**/*.ipr
/**/*.iws
/.classpath
/.git
/.svn
/.idea
/.project
/.settings
/.sonar-ide.properties
/atlassian-ide-plugin.xml
/.ignore
/**/overlays
/**/target/
/**/*.log
#/*/_ign_mvn_*.log
*.iml
.DS_Store

